*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Styles for mobile view */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  .content {
    margin: 10px;
  }

  footer {
    padding: 10px;
  }
}

/* mobile view */
.banner {
background-image: url(./img/mainmobile.jpg);
width: 100%; 
height: 320px; 
background-size: cover;
background-position: center;
}


#portfolio{
  padding: 20px 0px;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10p;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 500px;
  height: 750px;
  border-radius: 50px 10px 10px 20px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient( rgba(0,0,0,0.6),pink, purple);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
p{
  font-family: sans-serif;
  font-style: inherit;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #926372;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #b3798b;
}

