* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}


.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidebar b {
  padding: 7px 8px 7px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif; 
  color: #818181;
  display: block;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px; 
  padding: 10px; 
}


@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }
  .sidebar a {
      font-size: 18px;
  }
}


@media only screen and (max-width: 600px) {
  header {
      padding: 10px;
  }

  .content {
      margin: 10px;
  }

  footer {
      padding: 10px;
  }
}


#portfolio {
  padding: 40px 90px;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}

.work {
  border-radius: 30px; 
  position: relative;
  overflow: visible;
}

.work img {
  width: 90%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 90%;
  height: 0;
  background: linear-gradient(rgba(165, 108, 165, 0.685), rgba(94, 94, 172, 0.603));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  font-size: 12px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: auto;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: flex;
  margin: 50px auto;
  width: auto;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: #818181;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}
